* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    width: 400px;
}

.container form {
    border: 3px solid #f1f1f1;
    text-align: center;
}

.container input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(64, 184, 64);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 50px 0 25px 0;
}

img.user {
    width: 40%;
    border-radius: 50%;
}

.psw {
    margin-top: 30px;
    padding: 20px 30px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}